@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <div class="card">
                    <img src="~/drive1.png">
                    <div class="container">
                        <h4><b>Upload file to drive</b></h4>
                        <p>
                            First upload your video to google drive.
                            Make sure the video is not longer than 30 sec.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <img src="~/drive2.png">
                    <div class="container">
                        <h4><b>Share file with anyone</b></h4>
                        <p>
                            Share the file publicly.
                            Copy the file link and paste it on the page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>